In [1]:
import pandas as pd 
import numpy as np

In [2]:
# read data

In [3]:
cus_data = pd.read_csv('customer_data.csv')
cus_data.head()

  customer_id  gender   age payment_method
0     C241288  Female  28.0    Credit Card
1     C111565    Male  21.0     Debit Card
2     C266599    Male  20.0           Cash
3     C988172  Female  66.0    Credit Card
4     C189076  Female  53.0           Cash

In [4]:
sale_data = pd.read_csv('sales_data.csv')
sale_data.head()

,invoice_no,customer_id,category,quantity,price,invoice_date,shopping_mall
0,I138884,C241288,Clothing,5,1500.40,05-08-2022,Kanyon
1,I317333,C111565,Shoes,3,1800.51,12-12-2021,Forum Istanbul
2,I127801,C266599,Clothing,1,300.08,09-11-2021,Metrocity
3,I173702,C988172,Shoes,5,3000.85,16-05-2021,Metropol AVM
4,I337046,C189076,Books,4,60.60,24-10-2021,Kanyon

In [5]:
# explore data

In [6]:
def clean_data (table):
    print('---------- information to data ------------')
    print(table.info())
    print('---------- check null value ------------')
    print(table.isnull().sum())
    print('------------- check duplicated raw ---------------')
    print(table.duplicated().sum())

In [7]:
print(cus_data.columns)
print('='*50)
print(sale_data.columns)

Index(['customer_id', 'gender', 'age', 'payment_method'], dtype='object')
==================================================
Index(['invoice_no', 'customer_id', 'category', 'quantity', 'price',
       'invoice_date', 'shopping_mall'],
      dtype='object')

In [8]:
# show unique value from column to data

In [9]:
def unique_value_to_col(data):
    for column in data.columns :
        unique_value = data[column].unique()
        print(f'column {column} is unique value is {unique_value}')

In [10]:
# unique_value_to_col(sale_data)

In [11]:
# call function to explore data

In [12]:
clean_data(cus_data)

---------- information to data ------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99457 entries, 0 to 99456
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   customer_id     99457 non-null  object
 1   gender          99457 non-null  object
 2   age             99338 non-null  float64
 3   payment_method  99457 non-null  object
dtypes: float64(1), object(3)
memory usage: 3.0+ MB
None
---------- check null value ------------
customer_id         0
gender              0
age               119
payment_method      0
dtype: int64
------------- check duplicated raw ---------------
0

In [13]:
# Filling in missing values with average ages

In [14]:
cus_data['age'] = cus_data['age'].fillna(cus_data['age'].median())
cus_data.isnull().sum()

customer_id       0
gender            0
age               0
payment_method    0
dtype: int64

In [25]:
# convert (age column) from float to int
cus_data['age'] = cus_data['age'].astype('int64') 
print(cus_data['age'].dtype)

int64

In [18]:
# call function to explore data

In [19]:
clean_data(sale_data)

---------- information to data ------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99457 entries, 0 to 99456
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   invoice_no     99457 non-null  object
 1   customer_id    99457 non-null  object
 2   category       99457 non-null  object
 3   quantity       99457 non-null  int64
 4   price          99457 non-null  float64
 5   invoice_date   99457 non-null  object
 6   shopping_mall  99457 non-null  object
dtypes: float64(1), int64(1), object(5)
memory usage: 5.3+ MB
None
---------- check null value ------------
invoice_no       0
customer_id      0
category         0
quantity         0
price            0
invoice_date     0
shopping_mall    0
dtype: int64
------------- check duplicated raw ---------------
0

In [20]:
# convert (invoice_date column) from object to dateTime

In [21]:
sale_data['invoice_date'] = pd.to_datetime(sale_data['invoice_date'], format='%d-%m-%Y')
print(sale_data['invoice_date'].dtypes)
sale_data.info()

datetime64[ns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99457 entries, 0 to 99456
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   invoice_no     99457 non-null  object
 1   customer_id    99457 non-null  object
 2   category       99457 non-null  object
 3   quantity       99457 non-null  int64
 4   price          99457 non-null  float64
 5   invoice_date   99457 non-null  datetime64[ns]
 6   shopping_mall  99457 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(1), object(4)
memory usage: 5.3+ MB

In [ ]:
#clean csv file

In [32]:

cus_data.to_csv('customersData.csv', index=False)
sale_data.to_csv('salesData.csv', index=False)